@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    height: 100vh;
}

/* COMEÇO HEADER */

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-bottom: 1px solid rgb(229 231 235);
}

.logo img {
    width: 145px;
}

.buttons-header {
    display: flex;
    height: 100%;
    align-items: center;
}

.buttons-header a {
    text-decoration: none;
    color: #2e2d37;
    font-weight: 500;
    font-size: 13px;
    padding: 22px 15px;
}

.buttons-header a:hover {
    border-bottom: 1px solid red;
}

.login-header {
    display: flex;
    border-left: 1px solid #e5e7eb;
    padding-left: 1rem;
    height: 100%;
    align-items: center;
}

.login-header a {
    padding-inline: 7px;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    color: #2e2d37;
}

.login-header svg {
    margin: 5px;
}

/* FIM HEADER */

.main {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.navbar-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    margin-top: 64px;
    display: flex;
    width: 25%;
    position: relative;
}

.navbar-content {
    display: flex;
    justify-content: center;
    height: 64px;
    width: 100%;
}

.title-nav {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.title-nav a {
    text-decoration: none;
    font-weight: 600;
    padding: 8px;
}

.motos-title {
    color: #aeaeba;
}

.carros-title {
    color: #000;
    border-bottom: 3px solid red;
}

.navbar-container {
    display: flex;
    justify-content: center;
    height: 64px;
    width: 100%;
    height: 100%;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 64px;
    display: flex;
    width: 100%;
    height: 64px;
    position: relative;
}

.div-header-advertisement {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.filter-box .search-bar {
    width: 100%;
}

.filter-box a {
    margin: 5px;
    text-decoration: none;
    color: #000;
}

.local {
    border: 1px solid black;
    border-radius: 8px;
    padding: 0px 10px;
}

.search-bar input {
    width: 400px;
    padding: 10px 20px 10px 50px;
    border: 2px solid #ecedf2;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
}

.search-bar input:focus {
    outline: 0px;
}

.search-icon {
    position: absolute;
    top: 35%;
    right: 390px;
}



/* COMEÇO WEBKIT */

/* Scroll-bar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 20px;
}

/* FIM WEBKIT */