@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    height: 100vh;
}

/* COMEÇO DO HEADER */

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-bottom: 1px solid rgb(229 231 235);
    z-index: 3;
    background-color: white;
}

.logo, img {
    width: 150px;
    align-items: center;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem 0 7rem;
}

.title h2 {
    font-weight: 400;
    font-size: 16px;
    color: #2E2D37;
    margin-bottom: 0.4rem;
}

.title img {
    width: 25px;
}

.user {
    border-left: solid;
    border-width: 0.667px;
    padding-left: 2rem;
    border-color: #7d7c82;
    text-decoration: none;
    text-align: center;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: rgba(46, 45, 55);
    border-radius: 50%;
    font-size: larger;
    font-weight: 700;
    text-align: center;
    color: #f3f5f8;
    text-decoration: none;
}

/* FINAL DO HEADER */

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 64px;
}

/* NAVBAR */

.navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    width: 15%;
    left: 0px;
    align-items: center;
}

.navbar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid #2e2d372f 0.1px;
    width: 100%;
    padding: 20px 0 20px 0;
}

.user-icon {
    display: flex;
    justify-content: center;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background-color: black;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    color: #f3f5f8;
    text-decoration: none;
}

.user-data {
    text-align: center;
    width: 200px;
}

.user-data h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(46, 45, 55);
}

.user-data h4{
    font-size: 12px;
    color: rgb(174, 174, 186);
}

.nav-content {
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 0;
    align-items: left;
    justify-content: center;
}

.nav-content svg {
    margin-right: 1rem;
}

.nav-content a {
    color: #7d7c82;
    text-decoration: none;
    margin-bottom: 10px;
}


/* MAIN CONTENT */

.main-content {
    background-color: #f3f5f8;
    width: calc(85% - 0px);
    margin-left: 15%;
    padding: 24px 32px;
}

.main-content h1 {
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 20px;
    color: rgb(77, 76, 89);
    font-size: 20px;
}


/* FORMULÁRIOS */

.forms {
    display: flex;
    gap: 30px;
}

.form1, .form2 {
    background-color: white;
    width: 780px;
    height: 450px;
    padding: 32px 24px;
}

.forms p {
    font-size: 12px;
    color: #7d7c82;
    color: rgb(174, 174, 186);
}
